/*Fonts*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Opensans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Opensans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/*Variables*/
:root {
  --base-black: #000;
  --base-graydarkest: #363636;
  --base-darkgray: #464646;
  --base-gray: #7e7e7e;
  --base-ligthgray: #e5e5e5;
  --base-white: #fff;

  --alternate-yellow: #f0c52e;
  --alternate-biege: #f7e296;
  --alternate-green: #91c92f;

  --state-pink: #f6dada;

  --disabled-input: #A6A6A6;

  --hover-pages-step: #D9D9D9;

  --catalog-pages: #EBEBEB;
}

/*main CSS*/

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--base-black);
  background-color: var(--base-white);
}

a {
  text-decoration: none;
  color: var(--base-black);
}

img {
  max-width: 100%;
  height: auto;
}

.sans {
  font-family: "Opensans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.logo:hover {
  opacity: .7;
}

.logo:focus {
  opacity: .4;
}

.hov-foc-opacity-text:hover {
  opacity: .6;
}

.hov-foc-opacity-text:focus {
  /*Как ловить поведение "нажатие", для смены CSS?*/
  opacity: .3;
}

.big-gilroy {
  font-size: 47px;
  line-height: 58px;
}

.button {
  border: none;
  outline: none;
  background: none;
}

/*Header*/

.header {
  width: 1040px;
  position: relative;
  display: grid;
  grid-template-rows: 20px 22px;
  grid-template-columns: 50% 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  padding: 44px 60px 35px 60px;
  margin: 40px auto 0 auto;
  background-color: var(--alternate-biege);
}

.logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.search input {
  border: none;
  outline: none;
  background-color: var(--alternate-biege);
  opacity: .3;
}

.search input:hover {
  opacity: .6;
}

.search input:active {
  opacity: 1;
}

.log-in-out {
  grid-column: 2 / 3;
  justify-self: start;
}

.compare {
  grid-column: 4 / 4;
  justify-self: start;
}

.basket {
  grid-column: 5 / 5;
  justify-self: end;
}

.menu {
  width: 1040px;
  grid-column: 1 / 5;
}

.menu ul {
  display: flex;
  /*grid-template-columns: 50% 1fr 1fr 1fr 1fr;странное поведние гридов в этом моменте: берет не всю ширину, а только 910px вместо 1040;
	grid-template-areas: 
		"catalog delivery guarantee contacts contacts";*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.menu li {
  margin: 0;
  padding: 0;
}

.catalog {
  min-width: 50%;
  flex-grow: 4;
  /*grid-area:catalog;*/
}

.delivery {
  flex-grow: 1;
  text-align: left;
  /*grid-area:delivery;*/
}

.guarantee {
  flex-grow: 1;
  text-align: right;
  /*grid-area:guarantee;
	justify-self: end;*/
}

.contacts {
  flex-grow: 2;
  min-width: 25%;
  text-align: right;
  /*grid-area:contacts;
	justify-self: end;*/
}

/*Main-news*/

.body-main {
  min-width: 1160px;
  margin: 0 auto;
}

.news {
  width: 1040px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 1;
  padding: 0 60px 20px 60px;
  margin: 0 auto 76px auto;
}

.main-image {
  width: 384px;
  height: 486px;
  justify-content: start;
  margin: 0 0 0 60px;
  background: none;
}

.description {
  justify-content: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 110px 0 0 0;
  margin: 0;
}

.wrapper-number {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 1040px;
  height: 146px;
  background-color: var(--alternate-biege);
  z-index: -10;
  margin: 0;
  padding: 0 60px;
}

.number {
  position: relative;
  width: 50%;
  text-align: right;
  font-size: 179px;
  line-height: 219px;
  color: var(--base-white);
  margin: 0 0 -70px 0;
  padding: 0;
}

.number::before {
  /*очень много вопрос как это всё таки лучше сделать*/
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100px;
  height: 7px;
  background: #fff;
}

.phrase {
  margin: 0;
}

.wrapper-detail-points {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  display: flex;
  position: relative;
  width: 220px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.detail:hover .bg {
  top: 0px;
  height: 40px;
}

.detail:focus {
  opacity: .3;
}

.detail .bg {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 16px;
  z-index: -10;
  background-color: var(--alternate-yellow);
}

.points {
  display: flex;
  align-items: center;
  height: 40px;
  list-style-type: none;
}

.points .point {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 10px 16px 10px 0;
  outline: none;
  border: solid 1px var(--base-black);
  border-radius: 50%;
  background: none;
}

.points .point:hover {
  cursor: pointer;
}

.points .point:hover::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: solid 1px var(--base-black);
  border-radius: 50%;
  margin: 1px;
}

.product-details {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: .1em;
}

.product-details .smallest {
  font-size: 13px;
  line-height: 15px;
}

/*Popular products*/

.products-menu {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 49px auto;
  padding: 20px 0;
}

.item {
  width: 160px;
  margin-right: 40px;
}

.item:last-child {
  margin-right: 0;
}

.product-img {
  width: 160px;
  height: 160px;
}

.first .product-img {
  background: no-repeat center url("../img/index/main/popular-1.svg") var(--alternate-biege);
}

.second .product-img {
  background: no-repeat center url("../img/index/main/popular-2.svg") var(--alternate-biege);
}

.third .product-img {
  background: no-repeat center url("../img/index/main/popular-3.svg") var(--alternate-biege);
}

.fourth .product-img {
  background: no-repeat center url("../img/index/main/popular-4.svg") var(--alternate-biege);
}

.fifth .product-img {
  background: no-repeat center url("../img/index/main/popular-5.svg") var(--alternate-biege);
}

.six .product-img {
  background: no-repeat center url("../img/index/main/popular-6.svg") var(--alternate-biege);
}

.small-product-description {
  margin: 38px 0 20px 0;
  letter-spacing: 0;
}

.products-menu {
  letter-spacing: 0.05em;
}

/*Delivery-guarrantee-credit*/

.delivery-guarrantee-credit {
  position: relative;
  width: 100%;
  height: 403px;
  padding: 15px 0 0 0;
  margin: 0 0 90px 0;
}

.underwrapper-d-g-c {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.underside {
  position: absolute;
  height: 288px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5;
  background: var(--base-ligthgray);
}

.wrapper-switch-menu {
  width: 277px;
  height: 320px;
  border-right: solid 7px #000;
}

.switch-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 188px;
  margin: 80px 0 0 0;
  /*есть вопросы в данном моменте: по шаблону расстояние другое, но для совпадения приходится ставить так*/
  padding: 9px 0 0 0;
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: .2em;
}

.switch-menu li {
  position: relative;
  width: 160px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  z-index: 20;
}

/*Делаю для стилизации временно, так как пока страница не поймёт active*/

.switch-menu li:first-child {
  color: #fff;
}

.switch-menu li:first-child .bg {
  width: 277px;
  height: 40px;
  top: -9px;
  background: #000;
}

/*конец временной стилизации*/

.switch-menu li:hover .bg {
  cursor: pointer;
  top: -9px;
  height: 40px;
}

.switch-menu li:focus {
  opacity: .3;
}

.switch-menu .bg {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 7px;
  z-index: -1;
  background-color: var(--alternate-yellow);
}

.switch-menu li:hover {
  cursor: pointer;
}

.switch-description {
  height: 188px;
  margin: 86px 0 0 0;
}

.switch-description .big-gilroy {
  margin: 0 0 40px 0;
  letter-spacing: .2em;
}

.switch-description .sans {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.switch-image {
  width: 136px;
  height: 164px;
  margin: 86px 0 0 0;
  z-index: 1;
  background: no-repeat center url("../img/index/main/delivery2.svg");
}


/*Partners*/

.partners {
  width: 1160px;
  margin: 0 auto 90px auto;
}

.partners ul {
  display: flex;
  list-style-type: none;
}

/*Company-information*/

.company-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 127px;
  width: 1160px;
  margin: 0 auto 90px auto;
}

.company-information .big-gilroy {
  margin: 57px 0 50px 0;
  letter-spacing: .2em;
}

.about-us,
.company-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 580px;
}

.about-us::before,
.company-contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background: #000;
}

.about-us .sans,
.company-contacts .sans {
  line-height: 28px;
}

.about-us .comp-inf-first,
.company-contacts .comp-inf {
  margin: 0 0 40px 0;
}

.about-us .comp-inf-sec {
  margin: 0 0 60px 0;
}

.list-of-types,
.map {
  margin: 0 0 55px 0;
}

.list-of-types {
  list-style: circle;
  /*пока оставляю в таком виде, дальше будет вопрос как лучше стилизовать: через картинку или же :before;*/
  padding: 0 0 0 20px;
}

.list-of-types li {
  margin: 0 0 21px 0;
}

.list-of-types li:last-child {
  margin: 0;
}

.company-information .detail {
  width: 260px;
}

/*Footer*/

.footer {
  padding: 46px 0 65px 0;
  background-color: var(--base-graydarkest);
}

.footer .sans {
  color: var(--base-white);
}

.footer .log-in-out,
.footer .compare,
.footer .basket {
  opacity: .7;
}

.footer .log-in-out:hover,
.footer .compare:hover,
.footer .basket:hover {
  opacity: 1;
}

.footer .log-in-out:focus,
.footer .compare:focus,
.footer .basket:focus {
  opacity: .3;
}

.footer ul {
  list-style-type: none;
}

.footer-list a {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: var(--base-white);
}

.top-footer,
.middle-footer,
.bottom-footer {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin: 0 auto;
}

.top-footer {
  height: 53px;
  margin: 0 auto 40px auto;
}

.logo-footer {
  align-self: flex-end;
}

.middle-footer {
  align-content: flex-start;
  /*пока проблемы с центральной и нежней частью футера (словить его ценр)*/
  margin: 0 auto 67px auto;
}

.adress {
  margin: 0 156px 0 0;
}

.footer-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding: 0;
  margin: 0 44px 0 0;
}

.wrapper-log-comp-basket {
  display: flex;
  justify-content: space-between;
  width: 325px;
}

.telephone {
  width: 325px;
  text-align: right;
  opacity: .7;
}

.bottom-footer {
  align-items: center;
}

.decorate {
  width: 80px;
  height: 7px;
  background: var(--alternate-yellow);
}

.social ul {
  display: flex;
  width: 136px;
  justify-content: space-between;
}

.social-img {
  display: block;
  width: 32px;
  height: 32px;
}

.fb {
  background: no-repeat center url("../img/index/footer/simple-icons_facebook.svg");
}

.inst {
  background: no-repeat center url("../img/index/footer/icon_instagram.svg");
}

.tw {
  background: no-repeat url("../img/index/footer/icon_witter.svg");
}

/*Catalog*/
.steps a {
  opacity: .3;
}

.steps a:hover {
  opacity: .6;
}

.steps a:focus {
  opacity: .1;
}

.wrapper-products-filter {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.product-sort-filter {
  /*  grid-column: 1 / 1;*/
}

.products {
  /*  grid-column: 2 / 3;*/
}

.criteria fieldset {
  border: none;
}

.criteria ul {
  list-style-type: none;
  font-size: 14px;
  line-height: 19px;
}

.criteria label:hover,
.criteria input:hover {
  cursor: pointer;
}

.criteria input:checked:hover {
  opacity: .7;
}

.criteria input:disabled,
.criteria input:disabled~label {
  color: var(--disabled-input);
}

.wrapper-input-send {
  display: flex;
  position: relative;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.send-form {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.wrapper-input-send:hover .bg {
  top: 0px;
  height: 40px;
}

.wrapper-input-send:focus {
  opacity: .3;
}

.wrapper-input-send .bg {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 16px;
  z-index: -10;
  background-color: var(--alternate-yellow);
}

.small-gilroy {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.price,
.color,
.bluetooth {
  font-size: 14px;
  text-transform: none;
}

.products-head a {
  opacity: .3;
}

.products-head a:hover {
  opacity: .6;
}

.products-head a:focus {
  opacity: 1;
}

.wrapper-products {
  display: grid;
  grid-template-rows: 455px 455px;
  grid-template-columns: minmax(360px, 1fr) minmax(360px, 1fr);
  align-content: center;
  justify-content: space-between;
}

.wrapper-item {
  position: relative;
  z-index: 1;
}

.item-img {
  width: 360px;
  height: 380px;
}

.wrapper-item:hover .item-img {
  opacity: .7;
}

.wrapper-item:hover .to-busket {
  visibility: visible;
}

.to-busket {
  position: absolute;
  display: flex;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.to-busket button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  opacity: .5;
  font-family: "Opensans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: .1em;
}

.to-busket button:hover {
  opacity: 1;
}

.to-busket button:focus {
  opacity: .2;
}

.to-busket-link {
  display: flex;
  position: relative;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0 0 19px 0;
  z-index: 1;
}

.to-busket-link:hover .bg {
  top: 0px;
  height: 40px;
}

.to-busket-link:focus {
  opacity: .3;
}

.to-busket-link .bg {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 16px;
  z-index: -10;
  background-color: var(--alternate-yellow);
}

.product-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .05em;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: .05em;
}

.pages-control {
  display: flex;
  height: 70px;
  justify-content: space-between;
  background: var(--catalog-pages);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.pages-control ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.pages-control button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.pages-control li {
  opacity: .3;
}

.pages-control li:hover {
  opacity: .6;
}

.paages-control li:focus {
  opacity: 1;
}

.pages-control .back:hover,
.pages-control .forward:hover {
  cursor: pointer;
  background: var(--hover-pages-step);
}

.pages-control .back:focus,
.pages-control .forward:focus {
  opacity: .3;
}

.back,
.forward {
  display: flex;
  width: 120px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
